# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
*.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE and editor folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.sqlite3
*.db

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/
.vercel
